{% extends "base.twig" %}{% block content %}  {% if post.portrait_image %}<section style="background: url('{{ TimberImage(post.portrait_image) }}') top center no-repeat;" class="fadeInUp animated" id="portrait"><div class="row"><div class="medium-3 columns"><div class="designer"><h2 class="bounceInRight animated">{{post.designer_title}}</h2><p class="bounceInRight animated">{{post.designer_text}}</p></div></div><div class="medium-3 large-offset-3 columns"><div class="coder"><h2 class="bounceInRight animated">{{post.coder_title}}</h2><p class="bounceInRight animated">{{post.coder_text}}</p></div></div></div></section>  {% endif %}  {% if post.fat_orange_designs %}<section class="fadeInUp animated" id="tempprojects"><div class="row"><div class="medium-12 columns"><h2>Some of my latest work</h2></div></div><div class="row"><div class="medium-6 columns">{% if post.fat_orange_designs %}<a href="http://fatorangedesigns.com/" target="_blank"><img src="{{TimberImage(post.fat_orange_designs).src|resize(600, 400)}}" class="hvr-grow" /></a>{% endif %}</div><div class="medium-6 columns">{% if post.six_two_two %}<a href="http://sixtwotwo.jack-mahony.com/" target="_blank"><img src="{{TimberImage(post.six_two_two).src|resize(600, 400)}}" class="hvr-grow" /></a>{% endif %}</div></div></section>  {% endif %}  {% if post.contact_title %}<section class="fadeInUp animated" id="contact-text"><div data-equalizer="contact" class="row"><div data-equalizer-watch="contact" class="medium-4 columns"><a href="https://au.linkedin.com/in/jack-mahony-2aa9ba66" target="_blank"><div class="contact-1 hvr-grow"><img src="{{site.theme.link}}/assets/img/linkedin-blue.svg" /><span>Connect with me on LinkedIn<br /></span></div></a><a href="https://dribbble.com/" target="_blank"><div class="contact-2 hvr-grow"><img src="{{site.theme.link}}/assets/img/dribble-logo-black.svg" /><span>Follow me on dribble<br /></span></div></a></div><div data-equalizer-watch="contact" class="medium-7 medium-1-offset columns"><div class="medium-middle">{% if post.contact_title %}<h3>{{post.contact_title}}</h3>{% endif %}{% if post.contact_text %}<p>{{post.contact_text}}</p>{% endif %}</div></div></div></section>  {% endif %}  {% if post.slug == 'contact' %}<section class="fadeInUp animated" id="contact-form"><div class="row"><div class="small-12 columnns"><h3>Send me an email</h3>{% filter shortcodes %}  [contact-form-7 id="153" title="Contact Me"]{% endfilter %}</div></div></section>  {% endif %}  {% if post.about_title %}<section class="fadeInUp animated" id="aboutme"><div data-equalizer="about" class="row"><div data-equalizer-watch="about" class="large-5 columns"><div class="medium-middle">{% if post.about_image %}<img src="{{TimberImage(post.about_image)}}" />{% endif %}</div></div><div data-equalizer-watch="about" class="large-7 columns"><div class="about-title">{% if post.about_title %}<h2>{{post.about_title}}</h2>{% endif %}{% for item in post.get_field('about_text') %}<p>{{item.text}}</p>{% endfor %}</div></div></div></section><section class="fadeInUp animated" id="aboutskills"><div class="row"><div class="medium-12 columns"><h2>Technical Skills</h2></div></div><div class="row"><div class="medium-3 columns"><img src="{{site.theme.link}}/assets/img/50p.svg" class="hvr-grow" /><h3>HTML/CSS</h3></div><div class="medium-3 columns"><img src="{{site.theme.link}}/assets/img/40p.svg" class="hvr-grow" /><h3>WordPress</h3></div><div class="medium-3 columns"><img src="{{site.theme.link}}/assets/img/60p.svg" class="hvr-grow" /><h3>Adobe PS/AI</h3></div><div class="medium-3 columns"><img src="{{site.theme.link}}/assets/img/50p.svg" class="hvr-grow" /><h3>SolidWorks</h3></div></div></section>  {% endif %}{% endblock %}{% block script %}<script src="{{site.theme.link}}/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>  {% for project in projects %}
<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {

  $(".{{project.post_title|sanitize}}").owlCarousel({

    animateOut: 'fadeOut',

    lazyload: true,

    loop: true,

    items: 1,

    lazyLoad: true

  });

});

//]]>
</script>
  {% endfor %}{% endblock %}