{% extends "base.twig" %}{% block content %}<section id="services"><div class="row medium-up-2">  {% for item in post.get_field('my_services') %}<div class="column"><img src="{{TimberImage(item.icon)}}" /><h3>{{item.service_title}}</h3><p>{{item.about_services}}</p></div>  {% endfor %}</div></section><section id="latestwork"><div class="row"><div class="medium-12 columns">{% if post.work_header %}<h2>{{post.work_header}}</h2>{% endif %}</div><div class="medium-12 columns">{% if post.projects_title %}<h2>{{post.projects_title}}</h2>{% endif %}</div></div>{% if post.show_projects %}<div data-equalizer="projects" class="row medium-up-3">{% for project in projects %}<a href="{{project.link}}" class="column"><div style="background: url('{{ TimberImage(project.header_banner)|resize(400,500)}}') no-repeat;" class="singleproject"><div class="figcaption small-middle">{% if project.project_title %}<h4>{{project.project_title}}</h4><span class="info">View project &#10509;</span>{% endif %}</div></div></a>{% endfor %}</div>{% endif %}</section>{% endblock %}{% block scripts %}<scripts><script></script>
<script type="text/javascript">
//<![CDATA[
var item = document.getElementById("singleproject");
  item.addEventListener("mouseover", func, false);
  item.addEventListener("mouseout", func1, false);

  function func()
  {
   document.getElementById("figcaption").setAttribute("style", "opacity:1;")
   }

   function func1()
   {
    document.getElementById("figcaption").setAttribute("style", "opacity:0;")
  }

//]]>
</script>
</scripts>{% endblock %}